/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mar. 2020, 07:10:06
    Author     : Kengy Amador
*/
body{
  background: rgb(47,35,113);
    background: linear-gradient(180deg, rgba(47,35,113,1) 8%, rgba(197,29,112,1) 100%);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
} 
@font-face{
    font-family: logo;
    src:url('Comfortaa-Regular.ttf') format('truetype');
   
}
#titulo1{
    font-family: kengy1;
}






#estilo{
    background-color: #00357A;
    text-shadow: 2px 4px 2px black;
    border: 3px solid black;
    border-radius: 20px 40px 40px 20px;
    color: white;
    padding: 20px;
    margin: 20px;
       
}

#ii{
       align-items:  center;
}

.container .btn-menu label{
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	position: absolute;
	left: 10px ;

}

#btn-menu{
	display: none;
}
.container-menu{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100vh;
	top: 0;left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}
.cont-menu{
	width: 100%;
	max-width: 250px;
	background: #1c1c1c;
	height: 100vh;
	position: relative;
	transition: all 500ms ease;
	transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	border-left: 5px solid #c7c7c7;
	background: #1f1f1f;
}
.cont-menu label{
	position: absolute;
	left: 10px;
	top: 13px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}


#registro input, select {
    border-radius: 11px 11px;
    border: 2px solid #9d9fa1;
    padding-right: 80px
    
}
#iniciar input {
    border-radius: 11px 11px;
    border: 2px solid #9d9fa1;
    padding-right: 80px
    
}
