/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mar. 2020, 07:10:06
    Author     : Estudiante
*/
body{
   background-image: linear-gradient(180deg, #7d4159 0, #773959 12.5%, #6f3159 25%, #652859 37.5%, #591f59 50%, #4b185a 62.5%, #3a135b 75%, #24125d 87.5%, #00125f 100%);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
} 
@font-face{
    font-family: Kengy1;
    src:url('Fabian.ttf') format('truetype');
    
}
#titulo1{
    font-family: kengy1;
}






#estilo{
    background-color: #00357A;
    text-shadow: 2px 4px 2px black;
    border: 3px solid black;
    border-radius: 20px 40px 40px 20px;
    color: white;
    padding: 20px;
    margin: 20px;
       
}

#ii{
       align-items:  center;
     

   
}

    


#menu a{
      text-decoration: none;
       color: white;
}









.menuCSS3 ul {
		display: flex;
		background-color: #5D3ED2;
                padding: 0px;
                
		margin: 10px;
		list-style: none;
                text-align: center
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
                margin-left: 90px;
		background-color: #5D3ED2;
		text-decoration: none;
		color: white;
	}
	.menuCSS3 a:hover {
		background-color: #3BADCC;
	}
	.menuCSS3 ul li ul {
		display: none;
	}
	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
		display: block;
	}
        
        
 .menuAciones ul {
		display: flex;
                padding: 0px;
                
		margin: 10px;
		list-style: none;
                text-align: center
	}
	.menuAciones a {
		display: block;
		padding: 2em;
                margin-left: 90px;
		text-decoration: none;
		color: white;
	}
	.menuAciones a:hover {
		background-color: #3BADCC;
	}
	.menuAciones ul li ul {
		display: none;
	}
	.menuAciones ul li a:hover + ul, .menuAciones ul li ul:hover {
		display: block;
}

·p{
    padding: 50px;
}